<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="meaning.morning">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Andromeaning">
        <activity android:name=".presentation.CardReadingActivity"></activity>
        <activity android:name=".presentation.CardWriteDiaryActivity" />
        <activity android:name=".presentation.CardPromiseActivity" />
        <activity android:name=".presentation.CardTimeStampActivity"/>
        <activity android:name=".presentation.GroupBlankActivity"></activity>
        <activity android:name=".presentation.GroupSettingActivity" />
        <activity android:name=".presentation.CompleteGroupActivity" />
        <activity android:name=".presentation.AddGroupActivity" />
        <activity android:name=".presentation.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.camera.TimeStampCameraActivity"/>
    </application>

</manifest>